
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Xem giỏ hàng</title>
	<link rel="stylesheet"
	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	      crossorigin="anonymous">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-md navbar-dark"
	     style="background-color: tomato">
		<div>
			<a href="https://www.javaguides.net" class="navbar-brand">Leonard Trinh</a>
		</div>
		<div>
			<a class="btn btn-primary" href="{% url 'home' %}">Back to home</a>
		</div>
	</nav>
</header>
<br>

<div class="row">
	<div class="container">
		<h3 class="text-center">Your cart</h3>
		<hr>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
                <th>Discount</th>
				<th>Action</th>
			</tr>
			</thead>
            {% for item in item %}
                <tr>
				<td>{{ item.id }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.discount }}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'create-order' item.id %}">Create order</a>
				</td>
			    </tr>
            {% endfor %}
		</table>
	</div>
</div>
</body>
</html>