<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>Trang Chu</title>
	<link rel="stylesheet"
	      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	      crossorigin="anonymous">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-md navbar-dark"
	     style="background-color: tomato">
            <div>
			<a href="https://www.javaguides.net" class="navbar-brand">Management Book </a>
		    </div>
		    <div>
			<form method="get" th:action="@{/cart}">
				<input type="submit" value="Xem giỏ hàng">
			</form>
		    </div>
	</nav>
</header>
<br>

<div class="row">
	<div class="container">
		<h3 class="text-center">List Item</h3>
		<hr>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Name</th>
				<th>Price</th>
                <th>Discount</th>
				<th>Action</th>
			</tr>
			</thead>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.discount }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'item-details' id=item.id %}">View item detail</a>
                        </td>
                    </tr>
                {% endfor %}

		</table>
	</div>
</div>
</body>
</html>